<a href="https://colab.research.google.com/github/doodger/dataScience/blob/master/Credit_card.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Work in Progress. In this notebook I explored an imbalanced data set, the fraudulent credit card transaction set, for practice purposes.

Ideas and concepts being practiced include imbalanced data sets, weight adjustments, metrics of performance for imbalanced data sets, SVMs

In [36]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, balanced_accuracy_score, confusion_matrix
!pip install xgboost
from xgboost import XGBClassifier #creates annoying warnings
pip install -U imbalanced-learn
from

Requirement already satisfied: xgboost in /usr/local/lib/python3.6/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.17.5)

In [0]:
!pip install PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
downloaded = drive.CreateFile({'id':"1V97Aysa1jrTjQGkB7UD83jBfs0xzl2s_"})   # replace the id with id of file you want to access
downloaded.GetContentFile('creditcard.csv')        # replace the file name with your file
data = pd.read_csv('creditcard.csv')

The 28 features are PCA transformed from credit cards, for anonymity reasons. The amount is the quantity involved in the transaction. Time is the amount of time elapsed since the first transaction in the data set.

Feature class is the type of transaction: 0 for regular, 1 for fraudulent. 0.172% of all transactions are fraudulent.

In [16]:
data
#data.isna().sum()

            Time         V1         V2  ...       V28  Amount  Class
0            0.0  -1.359807  -0.072781  ... -0.021053  149.62      0
1            0.0   1.191857   0.266151  ...  0.014724    2.69      0
2            1.0  -1.358354  -1.340163  ... -0.059752  378.66      0
3            1.0  -0.966272  -0.185226  ...  0.061458  123.50      0
4            2.0  -1.158233   0.877737  ...  0.215153   69.99      0
...          ...        ...        ...  ...       ...     ...    ...
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[284807 rows x 31 columns]

In [21]:
X = data.loc[0:284806,"Time":"Amount"]
y = data.loc[0:284806,"Class"]
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,stratify=data[["Class"]]) #stratified so the same proportion of

            Time        V1        V2  ...       V27       V28  Amount
6979      9100.0  1.031695 -0.239100  ...  0.001717  0.005897   28.00
75678    56197.0  0.945842 -0.400033  ...  0.006502  0.038923  127.78
273177  165461.0  1.972796  0.023564  ... -0.016075 -0.014329   79.75
92243    63844.0 -0.724890  1.431812  ...  0.122756  0.042145   17.99
254837  156934.0  2.233813 -1.404392  ...  0.010552 -0.049698   22.45
...          ...       ...       ...  ...       ...       ...     ...
20055    30755.0 -0.971882  0.791218  ...  0.133994  0.142621   27.68
41983    40906.0  1.101534  0.246476  ...  0.001763  0.015483    0.76
65341    51538.0  1.165504 -0.217335  ... -0.103301 -0.003741   60.90
32405    36787.0  0.906842 -0.137392  ... -0.011716  0.038338  144.00
125582   77724.0 -1.860230 -0.841981  ...  0.206023  0.048933  282.40

[227845 rows x 30 columns]

In [48]:
print("percentage of fraudulent transactions in train set:",len(y_train[y_train == 1])/len(y_train))
print("percentage of fraudulent transactions in test set:",len(y_test[y_test == 1])/len(y_test))
print("Ratio of negative to positive:", len(y_train[y_train==0]/len(y_train[y_train==1])))

percentage of fraudulent transactions in train set: 0.001729245759178389
percentage of fraudulent transactions in test set: 0.0017204452090867595
Ratio of negative to positive: 227451

Training on unmodified data with decision trees and xgboost classifier

In [44]:
model1 = DecisionTreeClassifier()
model1.fit(X_train,y_train)
y_pred1 = model1.predict(X_test)


model2 = XGBClassifier()
model2.fit(X_train,y_train, early_stopping_rounds = 10, eval_set = [(X_test,y_test)], eval_metric = "error", verbose = True)
y_pred2 = model2.predict(X_test)

[0]	validation_0-error:0.000966
Will train until validation_0-error hasn't improved in 10 rounds.
[1]	validation_0-error:0.000913
[2]	validation_0-error:0.000913
[3]	validation_0-error:0.000913
[4]	validation_0-error:0.000878
[5]	validation_0-error:0.000878
[6]	validation_0-error:0.000878
[7]	validation_0-error:0.00086
[8]	validation_0-error:0.00086
[9]	validation_0-error:0.00086
[10]	validation_0-error:0.00086
[11]	validation_0-error:0.00086
[12]	validation_0-error:0.00086
[13]	validation_0-error:0.00086
[14]	validation_0-error:0.000878
[15]	validation_0-error:0.000878
[16]	validation_0-error:0.00086
[17]	validation_0-error:0.00086
Stopping. Best iteration:
[7]	validation_0-error:0.00086

In [46]:
print("Accuracy score for decision tree:",accuracy_score(y_test,y_pred1))
print("Accuracy balanced score for decision tree:",balanced_accuracy_score(y_test,y_pred1))
cm = confusion_matrix(y_test,y_pred1,normalize='true')
cm_df = pd.DataFrame(cm)
cm_df.style.background_gradient(cmap='PiYG', axis=None)

Accuracy score for decision tree: 0.9989993328885924
Accuracy balanced score for decision tree: 0.8314216232356758

In [47]:

print("Accuracy score for xgboost:",accuracy_score(y_test,y_pred2))
print("Accuracy balanced score for xgboost:",balanced_accuracy_score(y_test,y_pred2))
cm = confusion_matrix(y_test,y_pred2,normalize='true')
cm_df = pd.DataFrame(cm)
cm_df.style.background_gradient(cmap='PiYG', axis=None)

Accuracy score for xgboost: 0.9991397773954567
Accuracy balanced score for xgboost: 0.811118974883144

In [49]:
model3 = XGBClassifier(scale_pos_weight=227451) #changing the scale
model3.fit(X_train,y_train, early_stopping_rounds = 10, eval_set = [(X_test,y_test)], eval_metric = "error", verbose = True) 
y_pred3 = model3.predict(X_test)

[0]	validation_0-error:0.775745
Will train until validation_0-error hasn't improved in 10 rounds.
[1]	validation_0-error:0.751729
[2]	validation_0-error:0.775148
[3]	validation_0-error:0.775148
[4]	validation_0-error:0.775657
[5]	validation_0-error:0.775148
[6]	validation_0-error:0.771848
[7]	validation_0-error:0.767547
[8]	validation_0-error:0.767547
[9]	validation_0-error:0.583705
[10]	validation_0-error:0.596099
[11]	validation_0-error:0.590692
[12]	validation_0-error:0.592026
[13]	validation_0-error:0.583248
[14]	validation_0-error:0.574049
[15]	validation_0-error:0.560602
[16]	validation_0-error:0.508637
[17]	validation_0-error:0.4944
[18]	validation_0-error:0.476177
[19]	validation_0-error:0.469541
[20]	validation_0-error:0.467873
[21]	validation_0-error:0.397511
[22]	validation_0-error:0.393403
[23]	validation_0-error:0.386995
[24]	validation_0-error:0.385766
[25]	validation_0-error:0.380236
[26]	validation_0-error:0.375935
[27]	validation_0-error:0.335329
[28]	validation_0-error:0.335943
[29]	validation_0-error:0.315789
[30]	validation_0-error:0.307573
[31]	validation_0-error:0.309206
[32]	validation_0-error:0.306292
[33]	validation_0-error:0.29855
[34]	validation_0-error:0.290141
[35]	validation_0-error:0.278677
[36]	validation_0-error:0.278589
[37]	validation_0-error:0.272568
[38]	validation_0-error:0.269355
[39]	validation_0-error:0.263316
[40]	validation_0-error:0.254749
[41]	validation_0-error:0.249816
[42]	validation_0-error:0.249745
[43]	validation_0-error:0.239914
[44]	validation_0-error:0.237088
[45]	validation_0-error:0.237211
[46]	validation_0-error:0.232365
[47]	validation_0-error:0.224202
[48]	validation_0-error:0.222148
[49]	validation_0-error:0.217829
[50]	validation_0-error:0.216214
[51]	validation_0-error:0.213879
[52]	validation_0-error:0.207349
[53]	validation_0-error:0.206576
[54]	validation_0-error:0.204154
[55]	validation_0-error:0.202117
[56]	validation_0-error:0.198957
[57]	validation_0-error:0.191514
[58]	validation_0-error:0.187739
[59]	validation_0-error:0.187265
[60]	validation_0-error:0.18551
[61]	validation_0-error:0.183824
[62]	validation_0-error:0.178487
[63]	validation_0-error:0.176907
[64]	validation_0-error:0.175854
[65]	validation_0-error:0.173625
[66]	validation_0-error:0.171623
[67]	validation_0-error:0.169762
[68]	validation_0-error:0.164882
[69]	validation_0-error:0.163407
[70]	validation_0-error:0.161283
[71]	validation_0-error:0.159703
[72]	validation_0-error:0.158263
[73]	validation_0-error:0.156894
[74]	validation_0-error:0.155419
[75]	validation_0-error:0.154015
[76]	validation_0-error:0.151206
[77]	validation_0-error:0.147449
[78]	validation_0-error:0.144728
[79]	validation_0-error:0.142534
[80]	validation_0-error:0.139444
[81]	validation_0-error:0.138268
[82]	validation_0-error:0.13516
[83]	validation_0-error:0.132808
[84]	validation_0-error:0.131632
[85]	validation_0-error:0.1297
[86]	validation_0-error:0.126576
[87]	validation_0-error:0.122274
[88]	validation_0-error:0.119641
[89]	validation_0-error:0.116955
[90]	validation_0-error:0.115024
[91]	validation_0-error:0.112549
[92]	validation_0-error:0.110284
[93]	validation_0-error:0.106246
[94]	validation_0-error:0.103841
[95]	validation_0-error:0.101822
[96]	validation_0-error:0.098487
[97]	validation_0-error:0.095432
[98]	validation_0-error:0.092676
[99]	validation_0-error:0.091078

In [50]:
print("Accuracy score for xgboost:",accuracy_score(y_test,y_pred3))
print("Accuracy balanced score for xgboost:",balanced_accuracy_score(y_test,y_pred3))
cm = confusion_matrix(y_test,y_pred3,normalize='true')
cm_df = pd.DataFrame(cm)
cm_df.style.background_gradient(cmap='PiYG', axis=None)

Accuracy score for xgboost: 0.9089217372985499
Accuracy balanced score for xgboost: 0.8881701632538215

In [51]:
model4 = XGBClassifier(scale_pos_weight=np.sqrt(227451)) #changing the scale; using sqrt tip to "limit multiplication of positive example"?
model4.fit(X_train,y_train, early_stopping_rounds = 10, eval_set = [(X_test,y_test)], eval_metric = "error", verbose = True) 
y_pred4 = model4.predict(X_test)

[0]	validation_0-error:0.026351
Will train until validation_0-error hasn't improved in 10 rounds.
[1]	validation_0-error:0.026351
[2]	validation_0-error:0.026456
[3]	validation_0-error:0.010832
[4]	validation_0-error:0.015554
[5]	validation_0-error:0.024192
[6]	validation_0-error:0.013132
[7]	validation_0-error:0.015168
[8]	validation_0-error:0.014431
[9]	validation_0-error:0.008778
[10]	validation_0-error:0.007602
[11]	validation_0-error:0.007549
[12]	validation_0-error:0.008058
[13]	validation_0-error:0.007619
[14]	validation_0-error:0.007549
[15]	validation_0-error:0.008514
[16]	validation_0-error:0.008356
[17]	validation_0-error:0.008479
[18]	validation_0-error:0.008356
[19]	validation_0-error:0.008637
[20]	validation_0-error:0.008778
[21]	validation_0-error:0.00862
Stopping. Best iteration:
[11]	validation_0-error:0.007549

In [52]:
print("Accuracy score for xgboost:",accuracy_score(y_test,y_pred4))
print("Accuracy balanced score for xgboost:",balanced_accuracy_score(y_test,y_pred4))
cm = confusion_matrix(y_test,y_pred4,normalize='true')
cm_df = pd.DataFrame(cm)
cm_df.style.background_gradient(cmap='PiYG', axis=None)

Accuracy score for xgboost: 0.992451107756048
Accuracy balanced score for xgboost: 0.9096338345411321